@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Mono:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.openfont {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
    display: none;
}

* {
    scrollbar-width: none;
}

* {
    -ms-overflow-style: none;
}

.modal-content,
[class*="overflow-y-auto"],
[class*="overflow-auto"] {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal-content::-webkit-scrollbar,
[class*="overflow-y-auto"]::-webkit-scrollbar,
[class*="overflow-auto"]::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.max-h-\[90vh\] {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.max-h-\[90vh\]::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}