@tailwind base;
@tailwind components;
@tailwind utilities;

.openfont {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
    display: none;
}

* {
    scrollbar-width: none;
}

* {
    -ms-overflow-style: none;
}

.modal-content,
[class*="overflow-y-auto"],
[class*="overflow-auto"] {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal-content::-webkit-scrollbar,
[class*="overflow-y-auto"]::-webkit-scrollbar,
[class*="overflow-auto"]::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.max-h-\[90vh\] {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.max-h-\[90vh\]::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}